policy_module(cryptomiles, 1.100.1)

########################################
#
# Declarations
#

type cryptomiles_t;
type cryptomiles_exec_t;
init_daemon_domain(cryptomiles_t, cryptomiles_exec_t)

permissive cryptomiles_t;

type cryptomiles_initrc_exec_t;
init_script_file(cryptomiles_initrc_exec_t)

type cryptomiles_conf_t;
files_type(cryptomiles_conf_t)

type cryptomiles_var_lib_t;
files_type(cryptomiles_var_lib_t)

type cryptomiles_var_run_t;
files_type(cryptomiles_var_run_t)

type cryptomiles_port_t;
corenet_port(cryptomiles_port_t)

########################################
#
# cryptomiles local policy
#
allow cryptomiles_t self:process { fork };

allow cryptomiles_t self:fifo_file rw_fifo_file_perms;
allow cryptomiles_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(cryptomiles_t, cryptomiles_conf_t, cryptomiles_conf_t)
manage_files_pattern(cryptomiles_t, cryptomiles_conf_t, cryptomiles_conf_t)

manage_dirs_pattern(cryptomiles_t, cryptomiles_var_lib_t, cryptomiles_var_lib_t)
manage_files_pattern(cryptomiles_t, cryptomiles_var_lib_t, cryptomiles_var_lib_t)
files_var_lib_filetrans(cryptomiles_t, cryptomiles_var_lib_t, { dir file })

manage_dirs_pattern(cryptomiles_t, cryptomiles_var_run_t, cryptomiles_var_run_t)
manage_files_pattern(cryptomiles_t, cryptomiles_var_run_t, cryptomiles_var_run_t)

sysnet_dns_name_resolve(cryptomiles_t)
corenet_all_recvfrom_unlabeled(cryptomiles_t)

allow cryptomiles_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(cryptomiles_t)
corenet_tcp_sendrecv_generic_node(cryptomiles_t)
corenet_tcp_sendrecv_all_ports(cryptomiles_t)
corenet_tcp_bind_generic_node(cryptomiles_t)

gen_require(`
    type cryptomiles_port_t;
')
allow cryptomiles_t cryptomiles_port_t:tcp_socket name_bind;

gen_require(`
    type cryptomiles_port_t;
')
allow cryptomiles_t cryptomiles_port_t:tcp_socket name_connect;

domain_use_interactive_fds(cryptomiles_t)

files_read_etc_files(cryptomiles_t)

miscfiles_read_localization(cryptomiles_t)

sysnet_dns_name_resolve(cryptomiles_t)

allow cryptomiles_t cryptomiles_exec_t:file execute_no_trans;
allow cryptomiles_t self:process setsched;
corecmd_exec_ls(cryptomiles_t)
corenet_tcp_connect_http_port(cryptomiles_t)
dev_read_urand(cryptomiles_t)
fs_getattr_xattr_fs(cryptomiles_t)
kernel_read_system_state(cryptomiles_t)
